{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <main class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Course Name</th>
                    <th>Date</th>
                    <th>Excused?</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>AI123</td>
                    <td>Artificial Intellegence</td>
                    <td>11/09/2022</td>
                    <td>NO</td>
                </tr>
                <tr>
                    <td>AI123</td>
                    <td>Artificial Intellegence</td>
                    <td>19/10/2022</td>
                    <td>NO</td>
                </tr>
                <tr>
                    <td>AI123</td>
                    <td>Artificial Intellegence</td>
                    <td>20/10/2022</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>AI123</td>
                    <td>Artificial Intellegence</td>
                    <td>09/11/2022</td>
                    <td>NO</td>
                </tr>
            </tbody>

        </table>
        <button onclick="back()" class="btn btn-card btn-long">Back</button>

    </main>
</body>

<script>
    function back() {
        window.open('/student_dashboard', '_self')
    }
</script>
</html>