{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/fr.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>


    <main class="container">
        <div class="video-wrap" id="video_feed">
            
        </div>

        <div class="display-pic">

        </div>

    </main>
    <button onclick="takeSnapshot()" class="btn btn-card">Click</button>
    <button onclick="openInstructorDashboard()" class="btn btn-card">Back</button>



</body>

<!-- <script src="{% static 'js/enable_camera.js' %}"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.26/webcam.min.js" integrity="sha512-dQIiHSl2hr3NWKKLycPndtpbh5iaHLo6MwrXm7F0FM5e+kL2U16oE9uIwPHUl6fQBeCthiEuV/rzP3MiAB8Vfw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    
    const ImageEndpoint = 'http://127.0.0.1:8000/store_image/'

    Webcam.set({
        width: 600,
        height: 480, 
        image_format: 'jpeg',
        jpeg_quality: 100
    })
    Webcam.attach('#video_feed')

    function takeSnapshot() {
        Webcam.snap(function (data_uri)  {
            // document.querySelector('.display-pic').innerHTML = '<img src="'+data_uri+'" download="mamamasdad.jpeg"/>'
            downloadImage('attendance', data_uri)
            setTimeout(goToReults, 2000)
        })
    }

    downloadImage = function (name, datauri) {
        var a = document.createElement('a');
        a.setAttribute('download', name + '.jpeg');
        a.setAttribute('href', datauri);
        a.click();
    }

    function openInstructorDashboard() {
        window.open("/instructor_dashboard", "_self");
    }

    function goToReults() {
        window.open("/results/", "_self")
    }
</script>

</html>