{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <main class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th># of absences</th>
                    <th>Absence percentage</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>24900</td>
                    <td>Ahmed Yousef Ghouth</td>
                    <td>4</td>
                    <td class="student-select">5.17%</td>
                </tr>
                <tr>
                    <td>24901</td>
                    <td>Abdullah Naffa Al-Suhaimy</td>
                    <td>5</td>
                    <td>6.27%</td>
                </tr>
                <tr>
                    <td>24902</td>
                    <td>Omar Abdulaziz Al-Turki</td>
                    <td>4</td>
                    <td>5.17%</td>
                </tr>
                <tr>
                    <td>24903</td>
                    <td>Omar Abdulaziz Khan</td>
                    <td>8</td>
                    <td>8.65%</td>
                </tr>
                <tr>
                    <td>24904</td>
                    <td>Sultan Fahad Al-Juhani</td>
                    <td>5</td>
                    <td>6.27%</td>
                </tr>
                <tr>
                    <td>24905</td>
                    <td>Omar Abdulaziz Khan</td>
                    <td>8</td>
                    <td>8.65%</td>
                </tr>
                <tr>
                    <td>24906</td>
                    <td>Ali Ismail</td>
                    <td>10</td>
                    <td>11.89%</td>
                </tr>
                <tr>
                    <td>24907</td>
                    <td>Abdulrahman Nouh</td>
                    <td>12</td>
                    <td>14.09%</td>
                </tr>
            </tbody>

        </table>
        <button onclick="back()" class="btn btn-card btn-long">Back</button>

    </main>
</body>

<script>
    function back() {
        window.open('/instructor_dashboard', '_self')
    }
</script>
</html>